@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;600;700&display=swap');

/* 
font-family: 'Cormorant Garamond', serif;
font-family: 'Open Sans', sans-serif; 
*/

/**************** 공통사항 *****************/
html, body {height: 10000px; font-family: 'Cormorant Garamond', serif;}
.wrapper {max-width: 1800px; padding: 0 25px; margin: auto;}
.wrapper-sm {max-width: 1300px; margin: 100px auto;}
.font-os {font-family: 'Open Sans', sans-serif; letter-spacing: 0.25em; font-size: 0.75rem;}
.title-sub {font-size: 0.75rem; margin-bottom: -0.75rem;}
.title-cont {color: #888; font-size: 1.25rem;}
.card-columns .card {border: none; border-radius: unset; margin-bottom: 3rem;}
.card-img, .card-img-top {border-top-left-radius: unset; border-top-right-radius: unset;}
.card-body {padding: 1.5rem 0;}
.card-columns {column-gap: 2rem;}

/**************** header *****************/
.header {color: #222;}
.header .navi {font-size: 1.25rem; font-weight: 600;}
.header .navi::after {content: ""; display: block; opacity: 0; border-bottom: 1px solid #222; transition: all 0.3s;}
.header .navi:hover::after {opacity: 1;}
.header .navi.active::after{opacity: 1;}
.header .sns-wrap {font-size: 1rem;}
.header .mo-wrap {display: flex; flex-direction: column; align-items: flex-start;}

/**************** main-wrapper *****************/
.main-wrapper > div {background-repeat: no-repeat; background-position: center; background-size: cover;}
.main-wrapper .slogan-wrap {flex: 35% 0 0; padding: 10% 5%; background-image: url(../img/background-1.jpg);}
.main-wrapper .banner {flex: 65% 0 0; background-image: url(../img/background-2.jpg);}
.main-wrapper .title {font-size: 4.5rem;}

/**************** link-wrapper *****************/
.link-wrapper .link {flex: 31% 0 0; padding: 5rem 3rem;}
.link-wrapper .link .title {font-size: 2.5rem;}
.link-wrapper .link:nth-child(1) {background-color: #f7f7f4;}
.link-wrapper .link:nth-child(2) {background-color: #f2f2f6;}
.link-wrapper .link:nth-child(3) {background-color: #faf2ef;}
.link-wrapper .banner {font-size: 4.5rem; background: url(../img/background-3.jpg) no-repeat center; background-size: cover;}

/**************** post-wrapper *****************/
.post-wrapper > .title {font-size: 4rem;}


/**************** blog-wrapper *****************/
.blog-wrapper .title-wrap {padding: 5%; background: url(../img/background-4.jpg) no-repeat center; background-size: cover;}
.blog-wrapper .titles {flex: 40% 0 0; color: #fff;}
.blog-wrapper .titles .title {font-size: 6rem; line-height:6rem;}
.blog-wrapper .signature { flex: 40% 0 0;}


/**************** footer *****************/


/**************** 반응형 *****************/
@media screen and (max-width: 991px) {
	.logo {left: 50%; transform: translateX(-50%);}
	.main-wrapper .slogan-wrap {padding: 10% 15%;}
	.main-wrapper .banner {height: 500px;}
}

@media screen and (max-width: 767px) {
	.link-wrapper .banner {font-size: 2.5rem;}
}

@media screen and (max-width: 575px) {
	.link-wrapper .banner {font-size: 1.75rem;}
}